{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero
{
	height: 100vh;
	width: 100%;
	background-image: url(sand.jpeg);
	background-size: cover;
	background-positioin: center;
}
nav
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo
{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span
{
	color: #00A36C;
}
nav u1 li
{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav u1 li a
{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav u1 li a:hover
{
	color: #00A36C;
	transition: .4s;
}
.btn
{
	background-color: #00A36C;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}
.btn:hover
{
	transform: scale(1.1);
}
.content
{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}
h1
{
	color: white;
	margin: 20px 0px 20px;
	font-size: 60px;
}
h3
{
	color: white;
	margin: 
}